<div class="container">
  <div class="row">
  <div class="col-md-12">
    <p>-----------------</p>
    <p>-----------------</p>
    <p>-----------------</p>
    <p>-----------------</p>
    <p>This is the menu! WOWEE</p>
    <div class="container">
      <div class="row">
        <h3>This is the secret test page</h3>
        <div class="col-md-12">
          <button class="btn btn-primary" routerLink="/cube">Cube</button>
          <button class="btn btn-primary" routerLink="/panorama">Panorama</button>
          <button class="btn btn-primary" routerLink="/panorama2">Panorama2</button>
          <button class="btn btn-primary" routerLink="/cube-moving">Moving Cube</button>
          <button class="btn btn-primary" routerLink="/cannabis">Cannabis</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
