/* You can add global styles to this file, and also import other style files */

body {
  background-color: yellow;
  font-family: Limited-Edition;
}

@font-face {
  font-family: 'Limited-Edition';
  src: url('./assets/font/Limited-Edition.ttf');
}
