.cannabis-window{
  background-color: rgb(188, 216, 29);
  overflow: hidden;
}

.container{
  background-color: rgb(29, 216, 194);
  margin-top: 60px;
  color: white;
  height: 425px;
  margin-left: 30px;
  overflow: hidden;
}

.footer{
  background-color: rgb(216, 60, 29);
  margin-left: 30px;
  color: white;
}

.cannabis{
  background-color: rgb(29, 66, 216);
  margin-right: 0px;
  margin-left: 0px;
  height: 0px;
}
