.container{
  background-color: rgb(29, 216, 194);
  margin-top: 10px;
  margin-left: -75px;
  color: white;
  width: 1341px;
  height: 450px;
  overflow: hidden;
}

.cannabis{
  margin-right: 0px;
  margin-left: -120px;
  margin-bottom: 10px;
  height: 10px;
  width: 200px;
  display: block;
}
