<div class="cannabis-window">
  <div class="cannabis">
    <app-cannabis/>
  </div>

  <div class="container">
    <h1> Welcome to your virtual Stash Box! </h1>
    <p> Check out the cannabis grow simulator or view a collection of strains.<br>
    Please mind the mess! We're still working on a few features for you to enjoy.
    </p>
  </div>

    <!-- FOOTER -->
    <div class="footer">
       <p>&copy;Tokeson Aristoneya, Nuggables LLC &middot;
        <a href="/">Privacy
        </a> &middot;
        <a href="/">Terms
        </a>
      </p>
    </div>
  <!-------------------------------------------------------------------------->
</div>


