<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
<!--------------------------------------------------->
    <div class="container-fluid">
      <p>Logo</p>
      <a class="navbar-brand">Nuggables Stash Library</a>
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
      </button>

  <!---------------THE CUSTOM USER NAME-------------------->
  <!-- <div class="nav-links">
    @if (isLoggedIn()) {
      <span class="username">Welcome, {{ currentUser?.username }}</span>
    <a (click)="logout()">Logout</a>
    <div class="menu-container" [class.active]="isSidebarVisible">
      <button class="menu" (click)="toggleSidebar()">☰</button>
    </div>
    }@else {
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Sign Up</a>
    }
  </div>
<!--------------------------------------------------->
<!-- <div class="sidebar" [class.active]="isSidebarVisible">
  <a
  routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }">Timeline</a>
  <a routerLink="/events" routerLinkActive="active">Events</a>
</div> --> -->
<!--------------------------------------------------->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
<!--------------------------------------------------->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/main">Home</a>
          </li>
<!--------------------------------------------------->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Grow Cycle Sim</a>
          </li>
<!--------------------------------------------------->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">My Log</a>
          </li>
<!--------------------------------------------------->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Resources</a>
          </li>
<!--------------------------------------------------->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Library</a>
          </li>
<!--------------------------------------------------->
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
<!--------------------------------------------------->
        </ul>
      </div>
    </div>
  </nav>
</header>
